[submodule "ext/python-simplejson"]
	path = ext/python-simplejson
	url = git@github.com:mccutchen/python-simplejson.git
[submodule "ext/tweepy"]
	path = ext/tweepy
	url = git@github.com:mccutchen/tweepy.git
[submodule "ext/appengine-search"]
	path = ext/appengine-search
	url = git@github.com:mccutchen/appengine-search.git
[submodule "ext/jinja2"]
	path = ext/jinja2
	url = git@github.com:mccutchen/jinja2.git
[submodule "static/ext/blueprint"]
	path = static/ext/blueprint
	url = git@github.com:mccutchen/blueprint-css.git
