/*
"twitter gray" scheme from http://kuler.adobe.com/#themeID/556399
#d6f5ff - light blue
#45707f - dark blue
#8ae1ff - twitter blue
#6b7a7f - gray
#6eb4cc - medium blue
*/


body {
	margin: 0;
	padding: 0;
    background-color: #fff;
    color: #333;
    font-family: helvetica, arial, sans-serif;
    font-size: 10px;
}

@font-face {
  font-family: League Gothic;
  src: url(../fonts/LeagueGothic.otf) format("opentype");
}

a {
    color: #45707f;
    text-decoration: none;
}


/* Site header */
header {
	background-color: #45707f;
	background: -webkit-gradient(linear, left top, left bottom, from(#45707f), to(#345662));
	color: #fff;
	border-bottom: 1px solid #1B2D33;
}
header h1 {
	font-family: League Gothic, Helvetica, Arial;
	margin: 0;
	padding: .1em .2em;
	font-size: 6em;
	text-transform: uppercase;
	text-shadow: 2px 2px 2px #28434C;
}
header h1 a {
	color: #fff;
	text-decoration: none;
}
header h1 span {
    color: #d6f5ff;
}


div#content {
    font-size: 1.2em;
}


section {
    margin: 1em 2em;
}

section h3 {
    font-family: League Gothic, Helvetica, Arial;
    text-transform: uppercase;
    font-size: 3em;
    margin: 0;
    padding: 0;
}

section.tweet.list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
section.tweet.list ul li {
    padding: 5px 10px;
    border-bottom: 1px dotted #ccc;
}

div.tweet {
    margin: 1em 0;
}
div.tweet p.text {
    font-size: 14px;
    overflow: hidden;
    margin: 0;
}
div.tweet div.meta {
    font: 11px verdana;
    color: #999;
}

section.archives.list {
    
}

section.archives.list td {
    padding: 5px 10px;
}
section.archives.list td:first-child {
    padding-left: 0;
}
section.archives.list td:last-child {
    text-align: right;
    padding: 5px 0 5px 20px;
}


/* Front page styles */
body#index section {
    display: inline-block;
}


section#welcome {
    margin: 1px 0 1em 0;
    padding: .5em 1em;
    font-size: 2em;
    display: block;
    background-color: #ddd;
    -webkit-box-shadow: 0px 2px 2px #ccc;
}
section#welcome p {
    margin: 0;
}

section#latest-tweets {
    max-width: 45em;
    float: left;
}
section#latest-tweets ul li:first-child div.tweet p.text {
    font-size: 2em;
}

section#date-archives tbody tr:first-child td {
    border-top: 1px dotted #ccc;
}
section#date-archives tbody:first-child tr:first-child td {
    border-top: none;
}