/*
"twitter gray" scheme from http://kuler.adobe.com/#themeID/556399
#d6f5ff - light blue
#45707f - dark blue
#8ae1ff - twitter blue
#6b7a7f - gray
#6eb4cc - medium blue
*/


body {
    background-color: #fff;
    color: #333;
    min-width: 970px;
}

@font-face {
  font-family: League Gothic;
  src: url(../fonts/LeagueGothic.otf) format("opentype");
}

a {
    color: #45707f;
    text-decoration: none;
}

/* HTML5 elements */
header, section {
    display: block;
}


/* Site header */
header {
	background-color: #45707f;
	background: -webkit-gradient(linear, left top, left bottom, from(#45707f), to(#345662));
	color: #fff;
	border-bottom: 1px solid #1B2D33;
}
header h1 {
	font-family: League Gothic, Helvetica, Arial;
	font-size: 6em;
	text-transform: uppercase;
	text-shadow: 2px 2px 2px #28434C;
	/* Match up with blueprint grid */
	width: 950px;
	margin: 0 auto;
}
header h1 a, header h1 a:hover {
	color: #fff;
	text-decoration: none;
}
header h1 span {
    color: #d6f5ff;
}


h2 {
    font-family: League Gothic, Helvetica, Arial;
    text-transform: uppercase;
    font-size: 2.5em;
    margin: 0;
}


div#content {

}


section {

}


div.tweet {
    padding: 1em 0;
    border-top: 1px dotted #ccc;
}
h2+div.tweet {
    margin-top: .25em;
    padding-top: 0;
    border-top: none;
}

div.tweet p.text {
    overflow: hidden;
    font-size: 1.25em;
    margin: 0 0 .25em 0;
}
div.tweet div.meta {
    font: 11px verdana;
    color: #999;
}

section.archives.list {
}


section.archives.list td {
    padding: 5px 10px;
}
section.archives.list td:first-child {
    padding-left: 0;
}
section.archives.list td:last-child {
    text-align: right;
    padding: 5px 0 5px 20px;
}


/* Front page styles */
body#index section.archives.list table {
}


section#welcome {
    margin: 1em 0 2em 0;
    font-size: 2em;
    padding: .25em .5em;
    background-color: #ddd;
    -webkit-box-shadow: 0px 2px 2px #ccc;
    border-radius: 8px;
    -webkit-border-radius: 8px;
}
section#welcome p {
    margin: .5em 0;
}
section#welcome p:first-child { margin-top: 0; }
section#welcome p:last-child { margin-bottom: 0; }

section#latest-tweets {
}
section#latest-tweets ul li:first-child div.tweet p.text {
    font-size: 2em;
}

section#date-archives tbody tr:first-child td {
    border-top: 1px dotted #ccc;
}
section#date-archives tbody:first-child tr:first-child td {
    border-top: none;
}