<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Home{% endblock %} &mdash; Tweetlocker</title>
        {% set BLUEPRINT_ROOT = "/static/ext/blueprint/blueprint" %}
        <link rel="stylesheet" href="{{ BLUEPRINT_ROOT}}/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="{{ BLUEPRINT_ROOT}}/print.css" type="text/css" media="print">
        <!--[if lt IE 8]><link rel="stylesheet" href="{{ BLUEPRINT_ROOT}}/ie.css" type="text/css" media="screen, projection"><![endif]-->
        <link rel="stylesheet" href="/static/css/trove.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        {% block head %}{% endblock %}
    </head>
    <body id="{% block bodyid %}{% endblock %}" class="{% block bodyclass %}{% endblock %}">
        <header>
            <h1><a href="/"><span>Tweet</span>locker</a></h1>
        </header>
        <div id="container" class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
