{% extends "base.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <h2>Welcome {{ user.screen_name }} ({{ user.id }})</h2>
    {% if user.import_finished %}
        <p>We've finished importing your tweets.  You've got {{ user.tweet_count }} of them.</p>
    {% else %}
        <p>We have not yet finished importing your tweets.  Here's what we've got so far:</p>
    {% endif %}
    <h3>{{ tweets|length }} Latest Tweets</h3>
    <ul>
        {% for tweet in tweets %}
            <li>{{ tweet.text }} on {{ tweet.created_at }}</li>
        {% endfor %}
    </ul>

    <h3>Archives by Date</h3>
    <table>
        {% for year, months in date_archives %}
            {% for month in months %}
                <tr>
                    {% if months.index(month) == 0 %}
                        <td rowspan="{{ months|length }}">{{ year }}</td>
                    {% endif %}
                    <td>{{ month }}</td>
                    <td>{{ month.tweets|length }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>

    <h3>Your mentions</h3>
    <table>
        {% for mention in mention_archives %}
            <tr>
                <td>{{ mention }}</td>
                <td>{{ mention.tweets|length }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}