{% extends "base.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block bodyid %}index{% endblock %}

{% block content %}

    <section id="welcome">
        <p>Hi there, <strong>{{ user }}</strong>!  Here are some numbers for you:
        You've made <a href="{{ reverse_url('ArchivesHandler', 'tweets') }}">{{ user.tweet_count }} tweets</a>
        {%- if user.tag_count %}
            marked with <a href="{{ reverse_url('ArchivesHandler', 'tweets') }}">{{ user.tag_count }} tags</a>
        {% endif -%}
        {%- if user.place_count %}
            from <a href="{{ reverse_url('ArchivesHandler', 'tweets') }}">{{ user.place_count }} places</a>
        {% endif -%}
        {%- if user.source_count %}
            using <a href="{{ reverse_url('ArchivesHandler', 'tweets') }}">{{ user.source_count }} sources</a>
        {% endif -%}
        {%- if user.mention_count %}
            mentioning <a href="{{ reverse_url('ArchivesHandler', 'tweets') }}">{{ user.mention_count }} other people</a>
        {% endif -%}
        .</p>
    </section>

    <section id="latest-tweets" class="tweet list">
        <h3>Latest Tweets</h3>
        <ul>
            {% for tweet in tweets %}
                <li>{% include "_tweet.html" %}</li>
            {% endfor %}
        </ul>
    </section>

    <section id="date-archives" class="archives list">
        <h3>Dates</h3>
        <table cellspacing="0">
            {% for year, months in date_archives %}
                {% for month in months %}
                    <tr>
                        {% if months.index(month) == 0 %}
                            <td rowspan="{{ months|length }}" valign="top">{{ year }}</td>
                        {% endif %}
                        <td>{{ month }}</td>
                        <td>{{ month.tweets|length }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </section>

    {# Generic archives #}
    {% for kind, slug, archives in generic_archives %}
        {% include "_archives_list.html" %}
    {% endfor %}
{% endblock %}