{% extends "base.html" %}

{% block title %}
    Hang on a second...
{% endblock %}

{% block bodyid %}wait{% endblock %}

{% block content %}
    <section id="welcome">
        <p>Hi there, <strong>{{ user }}</strong>!  We have not yet finished
        importing your tweets.  So far, we've imported <strong>{{ user.tweet_count }}</strong>
        of them, but we're still working on the rest.</p>

        <p>Feel free to <a href="/">refresh this page</a> until we're finished, or just
        check back in a few minutes. Thanks for your patience!</p>
    </section>
{% endblock %}